.root {
    background-color: #62f216;
}
.tracksRoot {
    min-height: 10vh;
    max-height: 80vh;
    overflow: auto;
}
.grade {
    height: 150px;
    background-repeat: repeat-x;
}
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 80px;
    background-repeat: repeat-x;
}
